.location {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  font-family: monospace;
  position: absolute;
  padding: 3px;
  font-size: 20px;
  width: 450px;
  top: 150px;
  right: 1px;
  border: darkgrey 2px solid;
  z-index: 1;
}

.location h2 {
  padding: 0px;
  margin: 11px;
}
