.container {
  position: relative;
  border: brown;
}

.locationInfo {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 25;
  right: -10;
  margin: 12px;
  border-radius: 4px;
  font-size: 20px;
}
